//FORM
form {
  background-color: rgba(0, 0, 0, 0.137);
  color: $color-primario;
}
.modal-body {
  @extend form;
  font-size: 2.5rem;
  font-style: italic;
}
select {
  color: #000;
  background-color: rgba(255, 230, 0, 0.575);
}
input {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 230, 0, 0.575);
}
