$root-size: 2rem;

//Parrafo
p {
  font-size: 2rem;
  color: $color-primario;
  font-weight: bolder;
}
//Extend y Operaciones
.p__Violeta {
  @extend p;
  color: $violeta;
  font-size: 2 * $root-size;
}
.p__Azul {
  font-size: $root-size * 3;
}
