$root-size: 2px;
//Parrafo
p {
  font-size: 2rem;
  color: $color-primario;
  font-weight: bolder;
}
//Extend y Operaciones
.p__Violeta {
  @extend p;
  color: $violeta;
  font-size: 2 * $root-size;
}
//Condicional
.p__Azul {
  font-size: $root-size * 2;
  @if $root-size == 4px {
    color: rgb(158, 8, 218);
  } @else if $root-size == 6px {
    color: rgb(182, 75, 224);
  } @else if $root-size == 8px {
    color: rgba(183, 0, 255, 0.938);
  }
}
