html {
  font-size: 62.5%;
}
h1 {
  color: rgb(255, 255, 255);
  background-image: url(https://thumbs.gfycat.com/EntirePeriodicBear-size_restricted.gif);
  background-size: contain;
  background-repeat: round;
  background-attachment: local;
  padding: 20px 40px 30px;
  text-align: center;
  font-family: "Uchen", serif;
  overflow: hidden;
  width: 1300px;
  font-style: italic;
  font-size: 4rem;
}
h2 {
  color: rgb(255, 255, 255);
  font-family: "Uchen", serif;
  font-size: 3.2rem;
  text-align: center;
}

td {
  color: rgb(99, 6, 99);
  font-size: 2rem;
}
p {
  font-size: 3.1rem;
  color: rgb(0, 0, 0);
}
/*Propiedades del body*/
body {
  background: linear-gradient(rgb(51, 5, 5), rgb(0, 0, 0));
  font-size: 1.6rem;
  width: 1300px;
}

.arial {
  font-size: 3rem;
  font-weight: bolder;
  border: dashed rgb(0, 17, 17);
}

.p__Violeta {
  color: rgb(99, 6, 99);
}

.logo {
  position: absolute;
  transform: translate(1%, -127%);
}
/*Propiedades del grid*/
.grid {
  display: flex;
  background: url(/TDS/images/Cantinero.png) center;
  width: 1300px;
  height: 1150px;
  justify-content: space-around;
  gap: 10px;
  border: 15px solid rgba(0, 0, 0, 0.418);
  cursor: grabbing;
}
/*Propiedades de los elementos*/
.trago {
  justify-self: center;
  align-self: flex-end;
}
.trago__img {
  filter: none;
  transition: filter 1s, transform 1s;
}

/*Movimientos*/

.trago:hover .trago__img {
  transform: scale(1.2);
  filter: saturate(5);
}
.trago:hover .Charlemos {
  transform: translateY(-300px);
}

.Charlemos {
  color: whitesmoke;
  font-style: italic;
  font-size: 4rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 20px;
  transform: translate(-200%, -400%);
  transition: 0s;
}
.trago:hover .Integrantes {
  transform: translateY(-200px) translateX(-100px);
}

.Integrantes {
  color: whitesmoke;
  font-style: italic;
  font-size: 4rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 20px;
  transform: translate(-600%, -500%);
  transition: 0s;
}
.trago:hover .ListaDeVideos {
  transform: translateY(-200px) translateX(-100px);
}

.ListaDeVideos {
  color: whitesmoke;
  font-style: italic;
  font-size: 3.5rem;
  text-align: center;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 20px;
  transform: translate(-250%, -300%);
  transition: 0s;
}
.trago:hover .canalTw {
  transform: translateY(-200px) translateX(-60px);
}

.canalTw {
  color: whitesmoke;
  font-style: italic;
  font-size: 4rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 20px;
  transform: translate(-1000%, -300%);
  transition: 0s;
}
