.titulo {
  font-family: "Yomogi", cursive;
  color: green;
  background-image: url(https://thumbs.gfycat.com/EntirePeriodicBear-size_restricted.gif);
  text-align: center;
}
.cuerpo {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(51, 5, 5), rgb(0, 0, 0));
  font-size: 1.6rem;
}
p {
  color: rgb(5, 148, 12);
}
form {
  background-color: rgba(0, 0, 0, 0.137);
  color: whitesmoke;
}
h3 {
  color: rgb(51, 5, 5);
}
.modal-body {
  color: whitesmoke;
  background: linear-gradient(rgb(51, 5, 5), rgb(0, 0, 0));
}
